.card {
    width: 340px;
    height: 470px;
    margin-left: 25px;
    margin-top: 25px;



    
}
.Imagens{
    width: 100%;
    height: 50%;
 
}

.cuerpo-card {
    width: 1120px;
    height: auto;
    margin: 10px 170px;
    display: flex;
    flex-wrap: wrap;
    background-color:#ffffff;
    /* background-color:#D8D8D8; */
    scroll-behavior: smooth;

}
.datos-card{
    width: 100%;
    height: 200px;
    margin-top: 0px;
    text-align: center;
    /* background-color: rgb(230, 232, 232); */
    background-color: rgb(230, 232, 232);
    
}
.boton-agregar{
    
    width: 50px;
    height: 50px;
    margin-left: 280px;
    margin-top: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: #ffffff;
   color: rgb(0, 0, 0);
}
